<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectLiveStream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81B985691F3B30C40043716E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81B985821F3B30C50043716E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81B9858D1F3B30C50043716E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
